In [13]:
# This source code created by IndianAIProduction.com team
# https:\\www.IndianAIProduction.com\one-hot-encoding/

# Video on 
# One Hot Encoding & Dummy Variables: https://youtu.be/pW-OCP9azz4
        

# for video tutorial visit our youtube channel
# www.youtube.com\IndianAIProduction

# Categorical Variable Encoding

## Dummy Variables & One-Hot Encoding

In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("https://raw.githubusercontent.com/subir2210/Dataset/master/tips.csv")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [17]:
cat = df.select_dtypes('object')
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [18]:
cat.isna().sum()

sex       0
smoker    0
day       0
time      0
dtype: int64

In [19]:
cat.nunique()

sex       2
smoker    2
day       4
time      2
dtype: int64

In [20]:
df_dummy = pd.get_dummies(df,drop_first=True)
df_dummy.head()

   total_bill   tip  size  sex_Male  ...  day_Sat  day_Sun  day_Thur  time_Lunch
0       16.99  1.01     2         0  ...        0        1         0           0
1       10.34  1.66     3         1  ...        0        1         0           0
2       21.01  3.50     3         1  ...        0        1         0           0
3       23.68  3.31     2         1  ...        0        1         0           0
4       24.59  3.61     4         0  ...        0        1         0           0

[5 rows x 9 columns]